<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BK Food Court</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/upload.css" />
    <link rel="stylesheet" href="~/css/@ViewData["css"]" />

</head>
<body>
    <header>
        @{
            @using Newtonsoft.Json;
            ViewData["cart"] = TempData["cart"] == null ? null : JsonConvert.DeserializeObject<List<Item>>(TempData["cart"] as string);
            var cart = (List<Item>)ViewData["cart"];
            var totalQuantity = 0;
            if(cart != null){
                for (var i =0 ; i < cart.Count; i++){
                    totalQuantity += cart[i].quantity;
                }    
            }
            
            TempData.Keep("cart");
        }
        <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 ">
            <div class="container d-flex justify-content-between">
                <a class="navbar-brand" asp-area="" asp-controller="Foodcourt" asp-action="Index">
                    <img src="https://i.ibb.co/T0RHThG/LogoBK.png"  height="30" class="d-inline-block align-top" alt="" loading="lazy">
                    BKFC
                </a>
                <div class=" d-flex flex-row">
                    <div>
                        @if(User.Identity.IsAuthenticated)
                        {
                        <a class="nav-link text-dark margin notification" asp-area="" asp-controller="Cart" asp-action="Index">
                            <svg class="bi bi-cart2" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                            </svg>
                            <span id="badge" class="badge">@totalQuantity</span>
                        </a>
                        }
                        else
                        {
                            <a class="nav-link text-dark margin notification" href='/Identity/Account/Login'>Login</a>
                        }
                    </div>
                    <div>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        
                    </div>
                
                </div>
            
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Foodcourt" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <partial name="_LoginPartial"/>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3" style="margin-top: 100px;">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - BK Food Court - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script src="~/js/imgur.js"></script>
    <script src="~/js/upload.js"></script>
    @RenderSection("Scripts", required: false)
    <script>
        var badge = document.getElementById("badge");
        if (badge.innerHTML==0) badge.innerHTML="";
    </script>
</body>
</html>
