@model IEnumerable<bkfc.Models.MyOrderFood>

@{
    ViewData["Title"] = "My Orders";
    ViewData["css"] = "profile.css";
}

<h1 style="text-align: center;">My Orders</h1>

@if (User.Identity.IsAuthenticated && (!User.IsInRole("User")))
{    
<p>
    <a asp-action="UpdateOrderStatus" class="btn btn-primary">Update order's status</a>
</p>
}
@foreach (var item in Model)
{
    <div class="order py-2">
        <div class="order-number ml-3">
            Order #@item.Id
        </div>
        <div class="order-status mr-3">@item.Status</div>

            @{int i=1;}
            @foreach (var food in item.Foods)
            {
            <div class = "food-management d-flex flex-row align-items-center" >
                <div class = "food-management-information">
                    <a>
                        <img src=@food.Image class="image-food">
                    </a>
                    
                </div>
                <div class="food-information d-flex flex-column ml-3">
                    <div>Food order number: @i @{i++;}</div>
                    <div>Food name: @food.Name</div>
                    <div>Quantity: @food.Amount</div>
                </div>
            </div>    
            } 

    </div>
}
@section Scripts{
    <script>
        $(".order-status").each(function(){
            if ($(this).text()=="To Receive"){
                $(this)[0].classList.add("text-success");
            }
        });

    </script>

}