.header-profile {
    height:100px;
}
.header-profile .logo {
   float: left;
   width:100px;
   height:100px;
   /* background: #000  */
}
.profile-title {
    position: relative;
    float: left; 
    margin-left: 10px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
} 



.change-page{
    margin-top: 15px;
    float: right;
}
.food-management{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px;
    border-style: solid;
    border-color: #dddddd;
    /* background-color: rgb(175, 100, 9); */

}
.food-management .manage{
    position: relative;
    float: right; 
    /* margin-left: 10px; */

    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.food-management .manage div{
    margin-bottom: 20px;
}
.food-management-information{
    height: 150px;
    width: 100%;
}
.food-management-information .food-information{
    position: relative;
    float: left; 
    margin-left: 10px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.food-management-information .image-food{
    float: left;
    height: 100%;
    width: 150px;
}

.col-sm-2{
    /* display: inline-block; */
    overflow: scroll;
}
.col-sm-2::-webkit-scrollbar { 
    display: none; 
}